$xs-width: 575px;
$sm-width: 576px;
$md-width: 768px;
$lg-width: 992px;
$xl-width: 1260px;
$xxl-width: 1400px;

$white: #e7e7e7;
$black: #000;

$colour-1: #212121;
$colour-2: #2E2E2E;
$colour-3: #ABABAB;
$colour-4: #121212;
$colour-5: #C092FC;
$colour-6: #251F2D;
$colour-7: #18161B;
$colour-8: #473854;
$colour-error: #ff2a3d;
